/.claude
/venv
venv/
__pycache__/
*.pyc
myproject/__pycache__/
media/campaign_assets/
media/chat/
media/masterplans/
media/market-project-images/
media/market-masterplans/
media/unit_layouts/
media/attendance_photos/
media/project_map_images/
media/project_map_videos/
MyDjangoClone/
.gemini/
.pytest_cache/
GEMINI.md
.vscode/